/* Style the tab */
.tab {
    overflow: hidden;
    background-color: rgb(247, 247, 247);
   
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #212121;
    color: white;
    border-bottom: 5px solid #FFFF59;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 2rem 2rem;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
  }
  .active {
      display: block;
  }

  .actions {
    background-color: #FFFF59;
    padding: 1rem;
    font-size: 0.9rem;
    margin: 5rem 0;
    
  }

  .actions-list {
      list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  .action {
      display: inline-block;
      
  }
  

  .actions-list a {
      color: #212121;
      text-decoration: none;
  }
  .actions-list a:hover {
      color: #cece4d;
      text-decoration: underline;
  }

  table {
      text-align: center;
      
  }

  thead {
      font-size: 1rem;
      
  }

  tbody {
     
  }

  td {
     padding: 0.5rem;
  }

  .tables {
    margin-bottom: 5rem;
  } 

  .yellow-button{
    border-radius: 16px;
    background-color: #e0c200;
    padding: 5px;
    vertical-align: center;
  }

  .warning-message {
    border: 1px solid rgb(201, 201, 0);
    background-color: rgba(242, 253, 203, 0.89);
    padding: .5rem;
    font-size: .9rem;
    border-radius: .5rem;
    margin-top: .5rem;
  }